$primary_1: #30393a;
$primary_2: #c0d7dc;
$highlight_1: #546a6f;
$highlight_2: #b0bec1;
$background: #edf1f3;
$link: #004e75;
$link_hover: #00aaff;


//screen sizes
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;


@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

 .container {
    max-width: $screen-sm-min;
    margin: auto;
    //height: 100vh;
    background-color: $background;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;

    @include md {
        max-width: $screen-md-min;
    }

    @include lg {
        max-width: $screen-lg-min;
    }

    @include xl {
        max-width: $screen-xl-min;
    }

    .flexbox-top {
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        @include sm {
            flex-direction: row;
        }

        .profile-picture {
            position: relative; 
            padding-top: 15px;
            z-index: 1;

            img {
                border-radius: 50%;
                width: 225px;
                height: 200px;
                padding: 20px;
                z-index: 1;
            }

            .ribbon-image {
                img {
                    position: absolute;
                    top: 175px;
                    width: 225px;
                    height: 75px;
                    padding-left: 20px;
                    z-index: 2;
                }
            }

            .bork-button {
                position: absolute;
                height: 60px;
                width: 50px;
                top: 200px;
                background-color: $background;
                padding: 0;
                border: none;
                z-index: 3;
        
                #pawprint {
                  display: block;
                  height: 60px;
                  width: 50px;
                  padding-top: 0;
                  z-index: 4;
        
                  &:hover {
                    filter: hue-rotate(180deg);
                    }
                }
                 
                .button-text {
                  position: absolute;
                  top: 80%;
                  left: 90%;
                  transform: translate(-50%, -50%);
                  color: $primary_2;
                  font-size: 10px;
                  font-weight: bold;
                }
            }
        }

        .overlay-image {
            img {
                height: 30px;
                width: 70px;
                top: 45px;
                left: 200px;
                position: absolute;
                display: none;
                z-index: 500;
            }
          }

        .dog-description {
            padding-top: 30px;

            @include sm {
                flex-direction: row;
                padding-left: 30px;
            }
        }
    }

    .flexbox-middle {

        h1 {
            font-size: 18px;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        .dog-videos {
            display: flex; 
            flex-direction: column;
            justify-content: space-between;

            @include sm {
                flex-direction: row;
            }

            h2 {
                font-size: 16px;
                font-weight: lighter;
                margin-top: 5px;
                margin-bottom: 10px;
            }

            iframe {
                height: 75%;
                width: 75%;
            }
        }
    }

    .flexbox-resources {
        h1 {
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        li a {
            text-decoration: none;
            color: $link;

            &:hover {
                color: $link_hover
            }
        }

    }

    .flexbox-kennels {
        h1 {
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .collapsible {
            color: $link;
            cursor: pointer;
            border: none;
            outline: none;
            font-family: 'Verdana';
            font-size: 16px;
          }
          
          /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
          .active, .collapsible:hover {
            color: $link_hover;
          }
          
          /* Style the collapsible content. Note: hidden by default */
          .content {
            display: none;
            overflow: hidden;
            font-family: 'Verdana';
            font-size: 16px;
            color: $link;
            padding: 5px;

            li {
                #google-maps {
                    height: 15px;
                    width: 12px;
                }

                #social-media {
                    height: 15px;
                    width: 15px;
                }
            }

            li a {
                text-decoration: none;
                color: $link;
                font-weight: bold;
    
                &:hover {
                    color: $link_hover
                }
            }
        }
    }
}

.navbar {
    max-width: 100%;
    background-color: $primary_1;
    overflow: hidden;

    .navbar-container {
        max-width: $screen-sm-min;
        margin: auto;
        background-color: $primary_1;

        @include md {
            max-width: $screen-md-min;
        }

        @include lg {
            max-width: $screen-lg-min;
        }

        @include xl {
            max-width: $screen-xl-min;
        }
    }
    
    & a {
        display: block;
        color: $primary_2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: left;
        font-size: 17px;
    }
    
    & a:hover {
        background-color: $highlight_1
    }

    & a.active {
        background-color: $highlight_1;
    }

    & .icon {
        display: none;
      }

      @media screen and (max-width: $screen-sm-min) {

        & a {
            display: none;
        }

        & a.icon {
          float: right;
          display: block;
        }
      }
      
      @media screen and (max-width: $screen-sm-min) {
        .navbar-container.responsive {
            position: relative;
        }

        .navbar-container.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
            float: right;
        }

        .navbar-container.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
    }
}

//konami stuff
:root {
    --width: 1vw;
    --height: 1vh; 
    --x-speed: 5s;
    --y-speed: 7s;
    --transition-speed: 2.2s;
  }


.el { 
    width: var(--width);
    height: var(--height);
    position: absolute;
  }
  
  .x {
    animation: x var(--x-speed) linear infinite alternate;
  }
  .y {
    animation: y var(--y-speed) linear infinite alternate;
  }
  
  @keyframes x {
    100% {
        transform: translateX(calc(100vw - var(--width) - 50px)); 
    }
}

@keyframes y {
    100% {
        transform: translateY(calc(100vh - var(--height) - 75px)); 
    }
}

#nyandog {
        width: 90px;
        height: 60px;
        z-index: 9995;
        overflow:hidden;
    }

.particle {
    position:relative;
    display: block;
    background: orange;
    width: 4px;
    height: 4px;
    animation: 0.15s twinkle step-end infinite;
    z-index: 9999;
    }

@keyframes twinkle {
    0% { opacity: 0.3; }
    50% { opacity: 0.7; }
    }

body {
    margin: 0px;
    font-family: 'Verdana';
    overflow-x: hidden;
}
