body {
    background: lightblue;
    text-align: center;
    font-family: 'Courier New';
    margin: 0;
}

ul {
    text-align: left
}

h1 {
    padding-top: 25px;
    font-family: 'Brush Script MT';
    text-decoration: wavy;
    font-size: xx-large;
    color: blueviolet;
    margin: 0;
}

h2 {
    font-family: 'Brush Script MT';
    font-size: x-large;
    color: rgb(22, 6, 37);
}

.container {
    display: block;
    width: 600px;
    background-color: #d5e4f2;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    height:100vh;
}

.image-section {
    display: flexbox;
    flex-direction: row;
}

.arrow {
    position: sticky;
    text-align: left;
    padding-left: 120px;
}


/* Navbar */
.navbar {
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #33d0e5;
    }
    
    & li {
        float: left;
    }
    
    & li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    & li a:hover {
        background-color: #f2ff05;
        color: #200337;
    }
}
